.header{
    @include viewport-size(mobile-phone-small){}
    @include viewport-size(standard){}
    @include viewport-size(mobile-phone-small){
        height:350px;
        color:$eggshell-white;
        position: relative;
        overflow-x: hidden;
    }
    @include viewport-size(mobile-tablet-med){
        height:650px;
    }
    @include viewport-size(mobile-tablet-large){
        height:1250px;
        color:$eggshell-white;
        position: relative;
        overflow-x: hidden;
    }
    .videoShadow{
        @include viewport-size(mobile-phone-small){
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            box-shadow: inset 1000px 1400px rgba(rgb(3, 5, 6,), 0.8);
            z-index: -3;
        }
        @include viewport-size(mobile-tablet-large){
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            box-shadow: inset 1000px 1400px rgba(rgb(3, 5, 6,), 0.8);
            z-index: -3;
        }
    }
    .videoContainer{
        @include viewport-size(mobile-phone-small){
                width:100%;
                height:600px;
                z-index: -4;
                transform: translateY(-250px);
                position: absolute;
        }
        @include viewport-size(mobile-tablet-med){
            height:900px;
        }
        @include viewport-size(mobile-tablet-large){
            height:1500px;
        }
        .landingVideo{
            @include viewport-size(mobile-phone-small){
                object-fit: fill;
                width:100%;
                height:100%;
            }
            @include viewport-size(med){
            }
            @include viewport-size(standard){
                height:1500px;
            }
          
        }
    
    
    }

    
    

}

.content{
    height:100%;
    .sectionBreakFastMenu{
        // padding-top:300px;
        // position: relative;
        // background:$black-chocolate-dark;
        // z-index: -5;
        @include viewport-size(mobile-phone-small){
            padding-top:190px;
            position: relative;
            background:$black-chocolate-dark;
            z-index: -5;
        }
        @include viewport-size(standard){
            padding-top:300px;
        }
    }
    .sectionBreakFastMenu::before{
        @include viewport-size(mobile-phone-small){
            content:"";
            background: url("../images/logo/logo.png") #fff;
            background-repeat: no-repeat;
            background-size: 258px 232px;
            background-position:4px -1px;
            position: absolute;
            top:-12px;
            left:-30px;
            z-index: -4;
            width:255px;
            height:233px;
            border-radius: 50%;
            opacity: 0.5;
        }

        @include viewport-size(mobile-phone-med){
            background-size: 320px 280px;
            width:300px;
            height:300px;
        }

        @include viewport-size(mobile-tablet-med){
            background-size: 420px 367px;
            background-position: -11px 32px;
            width:450px;
            height:450px;
        }
        @include viewport-size(mobile-tablet-large){
            background-size: 800px 700px;
            background-position: 350px 110px;
            top:-132px;
            left:-430px;
            width:900px;
            height:800px;
        }
    }
    .breakfastMenu{
        height:auto;
        color:$frost-white;
        padding-bottom:350px;

        @include flex(row, space-around, flex-start);
        @include viewport-size(mobile-phone-small){
            @include flex(column, space-around, center);
            padding-bottom:120px;
            .menuTop, .menuBottom{
                text-align: center;
            }
        }
        @include viewport-size(mobile-tablet-large){
            height:auto;
            color:$frost-white;
            padding-bottom:350px;
            @include flex(row, space-around, flex-start);
        }
        .sectionTitle{
            text-align: center;
        }
        .menuSecTitle{
            @include viewport-size(mobile-phone-small){
                font-size:2.2rem;
                font-weight: 800;
                margin-bottom:50px;
                padding-top:60px;
                position: relative;
            }
            @include viewport-size(mobile-tablet-large){
                    font-size:3rem;
                    padding-top:100px;
            }
        }
        .menuSecTitle::after{
            content:"";
            position: absolute;
            top:100%;
            left:0;
            width:100%;
            height:0;
            padding-top:1rem;
            border-bottom:2px solid cornflowerblue;
        }
        .menuItem{
            @include viewport-size(mobile-phone-small){
                font-size: 2rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom:1rem;
                padding-top:1.5rem;
            }
            @include viewport-size(mobile-tablet-large){
                font-size: 2.5rem;
            }
        }
        .menuItemOption{
            @include viewport-size(mobile-phone-small){
                font-size: 1.5rem;
                font-weight: 300;
                margin-bottom:1.5rem;
            }
            @include viewport-size(mobile-tablet-large){
                font-size: 2rem;
            }
        }
    }
    .goods{
        .goodsTitle{
            @include viewport-size(mobile-phone-small){
                padding:100px 0;
            }
        }
    }
    .goodsGrid{
         @include viewport-size(mobile-phone-small){
             @include flex(column, center, center);
             flex-wrap: wrap;
             margin-bottom:100px;
         }
        @include viewport-size(mobile-tablet-large){
            display:grid;
            grid-template-columns: repeat(2, minmax(min-content, 600px));
            
            margin-bottom:200px;
        }
        @include viewport-size(med){
            display:grid;
            grid-template-columns: repeat(3, minmax(min-content, 848px));
            margin-bottom:200px;
        }
    }
    .services{
         @include viewport-size(mobile-phone-small){}
        @include viewport-size(mobile-tablet-large){}
        @include viewport-size(med){
        display:block;
        width:1150px;
        margin:auto;
        padding-bottom:200px;
        }
        @include viewport-size(standard){
        width:1450px;
        }
   
        &Title{
            text-align: center;
            font-size: 3rem;
            margin-bottom:70px;
        }
    }
    .servicesGrid{
            @include viewport-size(mobile-phone-small){
                @include flex(column, center, center);
                flex-wrap: wrap;
                margin-bottom:2rem
            }
            @include viewport-size(med){
                display:grid;
                column-gap: 40px;
                grid-template-columns: repeat(3, minmax(min-content, 485px));
                align-items: center;
            }
        }
}


.socialMedia{
    height:580px;
    border:1px solid green;
    position: relative;
 
    .decorBlock{
        height:100%;
        width:100%;
        position: relative;
        z-index: -2 ;
        overflow-x: hidden;
        .blockShadow{
            position: absolute;
            z-index: -1;
            width:100%;
            height:100%;
            box-shadow: inset 1100px 1100px rgba($black-chocolate, 0.6);
        }
        .decor{
          display:inline-block;
          position: absolute;
          z-index: -2;
          height:100%;
          width:428px; 
          object-fit: cover; 
        }
        :nth-child(2){
            left:0px;
        }
        :nth-child(3){
            left:320px;
        }
        :nth-child(4){
            left:630px;
        }
        :nth-child(5){
            left:1030px;
        }
        :nth-child(6){
            left:1330px;
        }
        :nth-child(7){
            left:1730px;
        }
        :nth-child(8){
            left:2030px;
        }
        :nth-child(9){
            left:2250px;
        }
        :nth-child(10){
            left:2580px;
        }
        
        
    }
    .iconWrapper{
        position: absolute;
        z-index: 1;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;     
        .icon{
            margin-bottom:2rem;   
            font-size: 5.5rem;
            color: transparent;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
            -webkit-background-clip: text;
        }
        .socialMediaText{
            font-size: 2rem;
            font-weight: 600;
            color:$frost-white;
        }

    }
}

.footer{
    padding-top:100px;
    height:300px;
    nav{
        @include viewport-size(mobile-phone-small){
            color:$black-chocolate;
            text-align: center;
        }
    }
    .itemLink{
        color:$black-chocolate;
    };
}

