
@mixin flex($direction, $jusitfy, $align){
    display:flex;
    flex-direction:$direction;
    justify-content: $jusitfy;
    align-items: $align;
}

@mixin backgroundGrid($backgroundURL){
    @include viewport-size(mobile-phone-small){
        background:url($backgroundURL);
        background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height:100%;
            box-shadow: inset 800px 800px rgba(#333, 0.7);
            margin:auto;
            padding-top:3rem;
            // padding-left:5rem;
    }
       
}


$viewport-increase:(
    "Device-Not-Suppoerted":15.99rem, // Anything smaller we don't support
    "mobile-phone-small":16rem, // 20rem x 16 = 320px --> iphone5s/SE
    "mobile-phone-small-med":23.4375em,
    "mobile-phone-med":35.875rem, //25.875rem = 414px
    "mobile-tablet-med":58rem, //48rem = 768px
    "mobile-tablet-large":74rem, // 64rem = width 1024px
    "med": 95.375rem, //85.375rem = Width 1366px
    "med-standard": 100rem, //90rem = Width 1440px
    "standard":130rem, // 120rem = Width 1920px  
    "large": 160em , 
    "xlarge":240em
);

@mixin viewport-size($size){
    @media(min-width: map-get($viewport-increase , $size)){
        @content;
    }
}